.post {
	border: 1px solid black;
	min-height: 100px;
}

#template {
	display: none;
}

#userName {
  height: 39px;
  margin-left: 0px;
  width: 200px;
}

#submit {
  height: 39px;
}

.buttons {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}

.likeCount {
  margin: 5px 0px 0px -10px;
  font-size: 10px;
}

.header {
  margin: 10px 0px;
  border-bottom: 1px solid black;
}

.remove, .like {
  margin: 10px 5px 0px 5px;
}

#newRantBox, #userName {
	margin-left: 200px;
}

.jumbotron {
  display: flex;
}

.like {
	margin: 10px 0px 0px -10px;
}